.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0;
    font-size: 50px;
    font-weight: 500;
    background: linear-gradient(270deg, #1adf08 10%, #2f23cd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.mywork-container img{
    box-sizing: border-box;
    width: 380px;
    height: 250px;
    transition: 0.3s;
    cursor: pointer;
}
.mywork-container img:hover{
    transform: scale(1.05);
    border: 2px solid #1adf08;
    border-radius: 15px;
    transition: 0.3s;
}
.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid #1adf08;
    padding: 20px 50px;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
    background: linear-gradient(270deg, #1adf08 10%, #2f23cd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mywork-showmore:hover{
    background: linear-gradient(270deg, #1adf08 10%, #2f23cd 100%);
    border: 2px solid #ffffff;
    -webkit-text-fill-color: white;
    gap: 20px;
    transition: 0.6s;
}


@media(max-width: 768px){
    .mywork{
        margin: 40px 20px;
        gap: 40px;
        align-items: center;
    }
    .mywork-title h1{
        font-size: 50px;
        font-weight: 600;
        padding: 0;
    }
    .mywork-title img{
        width: 130px;
        margin-right: -20px;
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .mywork-container img{
        width: 100%;
       height: 100%;
    }
    .mywork-showmore{
        padding: 15px 30px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    }
}