.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.services-title{
    position: relative;
}
.services-title h1{
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 500;
    background: linear-gradient(270deg, #1adf08 10%, #2f23cd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 40px;
    margin-bottom: 80px;
}
.services-format h3{
    font-size: 18px;
    font-weight: 500;
}
.services-format h2{
    font-size: 28px;
    font-weight: 600;
    background: linear-gradient(270deg, #1adf08 10%, #2f23cd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-format p{
    color: #d4d4d4;
    font-size: 18px;
    line-height: 40px;
    max-width: 350px;
}
.services-readmore{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}
.services-format:hover{
    border: 2px solid #33d909;
    background: linear-gradient(270deg, #013e42 10%, #2c0148 100%);
    transform: scale(1.05);
    transition: 0.4s;
}


@media(max-width: 768px){
    .services{
        margin: 20px 30px;
        gap: 70px;
        margin: 20px 70px;
    }
    .services-container{
        grid-template-columns: 1fr ;
        gap: 20px;
    }
    .services-title h1{
        font-size: 40px;
        font-weight: 600;
        padding: 0;
    }
    .services-title img{
        width: 130px;
        margin-right: -20px;
    }
    .services-format{
        gap: 10px;
        padding: 32px;
        width: 250px;
    }
    .services-format h2{
        font-size: 28px;
    }
    .services-format p{
        font-size: 18px;
        line-height: 32px;
        max-width: 300px;
    }
    .services-readmore img{
        width: 20px;
    }
    

}