.hero{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.hero img{
    margin-top: 70px;
    height: 240px;
}
.hero h1{
    text-align: center;
    width: 60%;
    font-size: 50px;
    font-weight: 600;
}
.hero h1 span{
    background: linear-gradient(270deg, #1adf08 10%, #2f23cd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;

}
.hero-connect{
    padding: 15px 35px;
    border-radius: 50px;
    background: linear-gradient(264deg,  #1adf08 -5.09%, #2f23cd 106.20%);
    cursor: pointer;
}

.hero-resume{
    padding: 15px 35px;
    border-radius: 50px;
    border: 2px solid#FFF;
    cursor: pointer;
}
.profile{
    transition: 0.7s;
}
.profile:hover{
     transform: scale(1.5);
} 
.hero-connect:hover{
    background: black;
    border:2px solid white;
}
.hero-resume:hover{
    background: linear-gradient(264deg,  #1adf08 -5.09%, #2f23cd 106.20%);
}


@media(max-width:768px){
    .hero h1{
        width: 90%;
        font-size: 35px; 
    }
    .hero img{
        margin-bottom: 40px;
        width: 260px;
        height: 260px ;
      }
    .hero p{
        width: 100%;
        font-size: 20px;
        line-height: 30px;
        margin: 10px 0px;
    }
    .hero-action{
        flex-direction: row;
        gap: 16px;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 15px 30px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 15px 30px;
        border-radius: 40px;
    }
    
}