.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.about-title{
    position: relative;
}
.about-title h1{
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 500;
     background: linear-gradient(270deg, #1adf08 10%, #2f23cd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-section{
    display: flex;
    gap: 80px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 300;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.about-skill{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p{
    min-width: 15px;
    font-size: 15px;
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg,  #1adf08 -5.09%, #2f23cd 106.20%);
}
.about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}
.about-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.about-achievement h1{
    font-size: 40px;
    font-weight: 500;
    background: linear-gradient(270deg,  #1adf08 -50.41%, #2f23cd 90.20%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achievement p{
    font-size: 17px;
    font-weight: 400;
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.about-achievement:hover{
    transform: scale(1.12);
    transition: 0.5s;
}
.frame{
    height: 450px;
    width: 350px;
}


@media(max-width: 768px){
       .about{
        margin: 20px 30px;
        gap: 80px;
        align-items: center;
       } 
       .about-title h1{
        font-size: 50px;
        margin-bottom: -40px;
        padding: 0;
       }
       .about-title img{
        width: 130px;
        right: -20px;
       }
       .about-section{
        flex-direction: column;
       }
       .about-left{
        display: none;
       }
       .about-para{
        font-size: 18px;
        line-height: 32px;
       }
       .about-skill{
        gap: 20px;
        align-items: center;
       }
       .about-skill p{
        font-size: 20px;
       }
       .about-skill hr{
        height: 10px;
       }
       .about-achievements{
        justify-content: space-between;
       }
       .about-achievement{
        gap: 10px;
       }
       .about-achievement h1{
        font-size: 30px;
        font-weight: 700;
       }
       .about-achievement p{
        font-size: 15px;
        text-align: center;
       }
}