.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: 0px 30px;
     font-size: 50px;
    font-weight: 500;
    background: linear-gradient(270deg, #1adf08 10%, #2f23cd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-section{
    display: flex;
    gap: 150px;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-left h1{
     font-size: 50px;
    font-weight: 500;
    background: linear-gradient(270deg, #1adf08 10%, #2f23cd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: 650px;
    color: #f9fcf9;
    font-size: 16px;
    line-height: 25px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #f9fcf9;
    font-size: 16px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-detail img{
    height: 20px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.contact-right label{
    color: #f9fcf9;
    font-size: 17px;
    font-weight: 400;
}
.contact-right input{
    border: none;
    width: 600px;
    height: 48px;
    outline: none;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #f9fcf9;
    font-family: Outfit;
    font-size: 15px;
}
.contact-right textarea{
    border: none;
    width: 570px;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #f9fcf9;
    font-family: Outfit;
    font-size: 15px;
    outline: none;
}
.contact-submit{
    border: none;
    color: #f9fcf9;
    border-radius: 50px;
    font-size: 22px;
    padding: 17px 50px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(270deg, #1adf08 10%, #2f23cd 100%);
}


@media(max-width: 768px){
    .contact{
        margin: 20px 30px;
        gap: 50px;
        align-items: start;
    }
    .contact-title h1{
        font-size: 50px;
        font-weight: 600;
        padding: 0;
    }
    .contact-section{
        flex-direction: column;
        gap: 40px;
    }
    .contact-left h1{
        font-size: 54px;
        font-weight: 600;
    }
    .contact-left p{
        font-size: 18px;
    }
    .contact-details{
        gap: 20px;
    }
    .contact-detail img{
        width: 25px;
    }
    .contact-right input{
        width: 100%;
    }
    .contact-right textarea{
        width: 90%;
    }
}