.footer{
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.logo1{
    cursor: pointer;
    height: 50px;
    width: 150px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left p{
    font-size: 15px;
    max-width: 400px;
}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 35px;
}
.footer-email-input{
    display: flex;
    gap: 30px;
    padding: 15px 30px;
    border-radius: 50px;
    background: #32323B;
    padding-right: 80px;
}
.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 15px;
}
.footer-subscribe{
    font-size: 22px;
    padding: 17px 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(270deg, #1adf08 10%, #2f23cd 100%);
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: 20px;
}
.footer-bottem-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
.logo{
    cursor: pointer;
    height: 50px;
    width: 150px;
}

@media (max-width: 768px){
    .footer{
        margin: 50px 20px;
    }
    .footer-top{
        flex-direction: column;
        gap: 30px;
    }
    .footer-top-right{
        justify-content: space-between;
    }
    .footer-bottom{
        flex-direction: column;
        gap: 20px;
    }
    .footer-bottem-right{
        justify-content: space-between;
        gap: 20px;
    }
    .footer-top-right{
        display: block;
        
    }
    .footer-email-input{
        margin-bottom: 15px;
    }
    .footer-email-input input{
        width: 140px;
    }
}